+ 33
- 0

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
core/.env
.env
.env.*
*.env
!.env.example
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Tooling
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db